body {
    background-image: url('static/blue-background.png');
    font-family: 'Open Sans', sans-serif;;
}

#wrapper {
    position: relative;
}

h1 {
    font-family: 'PT Serif Caption', serif;
    color: white;
}

#container-cobrowse {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.container {
    background-color: white;
    width: 700px;
    margin: 12px;
    padding: 25px;
    letter-spacing: 0.5px;
}

#instruction {
    margin: -8px;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: white;
}

ul#links li {
    display: inline;
    list-style-type: none;
    color: #0057a3;
    text-align: left;
}

#logo {
    width: 50px;
    text-align: right;
}
